
.DS_Store

# gradle config files
.gradle/

# IDEA config files
.idea/libraries
.idea/modules
.idea/*.xml
.idea
*.iws
*.iml
*.ipr

# generated directories
build/
out/
logs/

HELP.md
target/
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/